name: Terraform Apply - Custom
on:
  workflow_dispatch:
    inputs:
      location: 
        description: 'Azure Region to deploy resources'
        required: true
        default: 'francecentral'
        type: choice
        options:
          - 'francecentral'
          - 'northeurope'          
          - 'eastus2'
          - 'southeastasia'
      gateway: 
        description: 'Include a VPN Gateway'
        required: true
        default: false
        type: boolean
      spokeDMZ: 
        description: 'Include a spoke with a Application Gateway'
        required: true
        default: true
        type: boolean
      spokeAI: 
          description: 'Include a spoke with a AI Spoke'
          required: true
          default: false
          type: boolean        
      privateMonitoring: 
        description: 'Include a spoke with a Private Monitoring Solution'
        required: true
        default: false
        type: boolean
      spokesCount:
        description: 'Number of Spokes to deploy'
        required: true
        default: 2
        type: number
      virtualMachines:
        description: 'Include Azure Bastion in Hub & Virtual Machines in the Spokes'
        required: true
        default: true
        type: boolean
      virtualMachinesServices:
        description: 'Include Virtual Machines Services : Update Management / Backup'
        required: true
        default: false
        type: boolean
      networkServices:
        description: 'Include Additional Network Services : NSG / Connection Monitor tests'
        required: true
        default: false
        type: boolean
      standaloneSite:
        description: 'Deploy standalone site(s)'
        required: true
        default: 0
        type: number
jobs:
  build:
    name: Terraform Apply
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.8"

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Prepare environment variables
        env:
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
        run: | 
          # Parse Azure secret into Terraform variables
          echo "ARM_CLIENT_ID=$( jq -r '.clientId' <<< $AZURE_CREDENTIALS )" >> $GITHUB_ENV;
          echo "ARM_CLIENT_SECRET=$( jq -r '.clientSecret' <<< $AZURE_CREDENTIALS )" >> $GITHUB_ENV;
          echo "ARM_SUBSCRIPTION_ID=$( jq -r '.subscriptionId' <<< $AZURE_CREDENTIALS )" >> $GITHUB_ENV;
          echo "ARM_TENANT_ID=$( jq -r '.tenantId' <<< $AZURE_CREDENTIALS )" >> $GITHUB_ENV
        shell: bash

      - name: Open firewall of the TF State Storage Account
        env:
          SA_STATE: ${{ secrets.SA_STATE }}
        run: |
          sa=($(echo $SA_STATE  | tr "/" "\n"))
          az account set --subscription "${sa[1]}"
          az storage account update --resource-group "${sa[3]}" --name "${sa[7]}" --public-network-access Enabled
        shell: bash

      - name: Terraform Init
        id: init
        run: terraform -chdir=demo init

      - name: Terraform Apply
        id: apply
        env:
          TF_VAR_location: ${{ github.event.inputs.location }}
          TF_VAR_gateway: ${{ github.event.inputs.gateway }}
          TF_VAR_p2s_vpn: ${{ github.event.inputs.gateway }}  
          TF_VAR_bastion: ${{ github.event.inputs.virtualMachines }}
          TF_VAR_spoke_dmz: ${{ github.event.inputs.spokeDMZ }}
          TF_VAR_spoke_ai: ${{ github.event.inputs.spokeAI }}          
          TF_VAR_private_monitoring: ${{ github.event.inputs.privateMonitoring }}
          TF_VAR_connection_monitor: ${{ github.event.inputs.networkServices }}
          TF_VAR_update_management: ${{ github.event.inputs.virtualMachinesServices }}
          TF_VAR_backup: ${{ github.event.inputs.virtualMachinesServices }}
          TF_VAR_network_security_group: ${{ github.event.inputs.networkServices }}
          TF_VAR_spokes_count: ${{ github.event.inputs.spokesCount }}
          TF_VAR_spokes_virtual_machines: ${{ github.event.inputs.virtualMachines }}
          TF_VAR_standalone_site: ${{ github.event.inputs.standaloneSite }}
          TF_VAR_additional_access_policy_object_ids: ${{ vars.ADDITIONAL_ACCESS_POLICY_OBJECT_IDS }}
          TF_VAR_subscription_id: ${{ vars.ARM_SUBSCRIPTION_ID }}
        run: terraform -chdir=demo apply -auto-approve -no-color
